@use '../../shared/helpers/' as *;

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(24);
    min-width: 0;
}

.navigation-link {
    font-size: rem(18);
    font-family: var(--font-family-base);
    color: var(--color-light-purple);
    white-space: nowrap;
    transition: 0.3s ease-in-out;

    &:hover {
        color: var(--color-purple);
        text-decoration: underline;
        text-underline-offset: rem(8);
    }
}