@use '../helpers' as *;

:root {
    --font-family-base: 'GolosText', sans-serif;
    --font-family-accent: 'Rubik', sans-serif;
    --font-family-button: 'JetBrainsMono', sans-serif;

    --container-width: #{rem(1600)};
    --container-padding-x: #{rem(32)};

    --transition-duration: 0.2s;
}

@include laptop {
    :root {
        --container-width: #{rem(1280)};
    }
}

:root,
:root[data-theme='dark'] {
    --bg-primary: #131313;
    --bg-secondary: #141414;
    --bg-elevated: #1C1B1B;

    --text-primary: #FFFFFF;
    --text-secondary: #C9C4D3;
    --text-heading: #EEEBF0;

    --accent: #B1A2FF;
    --accent-secondary: #983afc;
    --accent-shade: color-mix(in srgb, var(--accent) 70%, black);
}

:root[data-theme='light'] {
    --bg-primary: #FDF6EC;
    --bg-secondary: #F7E2C3;
    --bg-elevated: #F2D9AE;

    --text-primary: #131313;
    --text-secondary: #4A4038;
    --text-heading: #131313;

    --accent: #FBAE3C;
    --accent-secondary: #d7471a;
    --accent-shade: color-mix(in srgb, var(--accent) 70%, black);
}
