@use '../../shared/helpers/' as *;

.preloader {
    position: fixed;
    inset: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-dark-1);

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, rem(28));
        grid-template-rows: repeat(2, rem(28));
        gap: rem(6);
    }

    &__square {
        width: 100%;
        height: 100%;
        border-radius: rem(4);
        transform: scale(0);
        animation: preloaderSquare 2.4s ease-in-out infinite;

        &--1 {
            background: var(--color-purple);
            animation-delay: 0s;
        }

        &--2 {
            background: var(--color-orange);
            animation-delay: 0.3s;
        }

        &--3 {
            background: var(--color-oragne);
            animation-delay: 0.6s;
        }

        &--4 {
            background: var(--color-purple);
            animation-delay: 0.9s;
        }
    }
}

@keyframes preloaderSquare {
    0% {
        transform: scale(0);
    }
    16.6% {
        transform: scale(1);
    }
    50% {
        transform: scale(1);
    }
    66.6% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}
